
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
      <%= link_to 'Join Event', join_event_path, class: "button is-primary "  %>
      </div>
      <div class="column is-half">
          <div class="box">
            <p>
              <strong>Description:</strong>
              <%= @event.description %>
            </p>

            <p>
              <strong>Event date:</strong>
              <%= @event.event_date %>
            </p>
            <%= link_to 'Back', events_path %>
          </div>
      </div>
      <div class="column is-one-quarter">
        <%= render partial: 'attendee' %>
      </div>
    </div>
  </div>

  

</section>

             
            
         