

<div class="columns">
      <div class="column is-one-quarter">
        
      </div>
<div class="column is-half">
<div class="box">  
        
      

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>  
</div>

<div class="column is-one-quarter">
<%= render partial: 'attendee' %>

      </div>
      
          
             
            
         